<% include ../partials/header %>
 <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <div class="thumbnail">
                <img src="<%= user.avator %>" alt="user profile image">
                <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            </div>

        </div>
        <div class="col-md-8">
            <h3><%= user.username %>'s restaurants</h3>
            <ul>
                <% restaurants.forEach(function(restaurant){ %>
                    <li><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></li>
                <%  }); %>
            </ul>
            
        </div>
    </div>
    </div>
<% include ../partials/footer %>